/* comment out 
.div-box{
    max-height: 100%;
    max-width: 100%;
    object-position: center bottom;
    width: auto;
    vertical-align: bottom
}
a{
    text-decoration: none;
}

.button{
    background: #f2f2f2;
    padding: 15px;
    margin: 24px;
    border-radius: 5px;
    color: #5F6368;
}
*/
/* Img */
.img-area{
    padding-top: 240px;
    text-align: center;
}
/* End Img */
/* search shit */
.search-bar{
    width: 25%!important;
}
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
.fa-search{
    color: grey!important;
}
/* END search shit */

/* button bar */
.button-bar{
    position: center;
    text-align: center;
    padding-top: 10px;;
}
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #f2f2f2 !important;
    border: 1px white solid!important;
    color: black!important;
}
.btn-primary:hover{
    color: black!important;
    border: 1px black solid!important;
}
/* END button bar */

/*Nav CSS */
ul {
    list-style-type: none;
    /* margin: 10px; */
    /* padding: 10px; */
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 35px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    text-decoration: underline;
    color: black;     
  }
  .top-navButton{
    background:#4285F4!important;
    border-radius: 3px;
    margin: 24px;
    color: white;
    font-weight: bold;
    height: 48px;
    padding-top: 10px;
    font-size: 18px;
}
.top-navButton:hover{
    color: white!important;
    text-decoration: none!important;
}
.fa-lg{
    color: grey!important;
    padding: 38px 10px 10px 10px;
}
/* topbar done */

/*bottom-bar*/
.bottom-bar-ul{
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    height: 64px;
}
.bottom-bar-a{
        color: #666;
        padding: 20px;
        font-size: 18px!important;
}
.bottom-bar-a:hover{
    text-decoration: underline;
    color: #666;
}