/* comment out 
.div-box{
    max-height: 100%;
    max-width: 100%;
    object-position: center bottom;
    width: auto;
    vertical-align: bottom
}
a{
    text-decoration: none;
}

.button{
    background: #f2f2f2;
    padding: 15px;
    margin: 24px;
    border-radius: 5px;
    color: #5F6368;
}
*/
.img-area{
    padding-top: 240px;
    text-align: center;
}
.search-bar{
    position: relative;
    position: center;
    text-align: center;
}
.button-bar{
    position: center;
    text-align: center;
    padding-top: 10px;;
}

.button:hover{
    padding: 15px;
    margin: 24px;
    border: 1px #5f6368 solid;
    color: black!important;
}
.dtn{
    background: #f2f2f2;
}