/* comment out 
.div-box{
    max-height: 100%;
    max-width: 100%;
    object-position: center bottom;
    width: auto;
    vertical-align: bottom
}
*/
a{
    color: black;
}

.img-area{
    padding-top: 100px;
    text-align: center;
}
.search-bar{
    position: relative;
    position: center;
    text-align: center;
}
.button-bar{
    position: center;
    text-align: center;
    padding-top: 10px;;
}
.button{
    background: #e2e1e1;
    border: 15px #e2e1e1 solid;
    margin: 12px;
    border-radius: 5px;;
}
